.navbar-link-contact {
    color: rgba(54, 83, 107, 0.9);
    font-size: 15px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

.hero__heading {
    font-family: 'DM Serif Display';
    max-width: 730px;
    margin-top: 82px;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.430769px;
    color: rgb(54, 83, 107);
}